.add-button {
    width: 142px;
    height: 38px;
    background: #00A1E0;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 40px;
}

.modal {
    width: 900px;
    height: 700px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    height: 20px;
    background: #003A5D;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 20px;
}

.modal-content {
    height: 100%;
}

.modal-content form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
